<html>
    <head>
        <title>Snoogle's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Snoogle's Blog</a></h1>
        </div>

        <div>
            <p>published: 18.01.2016 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Snoogle Snoogle Snoogle!</p>
        </div>

        <div>
            <p>published: 20.01.2016, 12:14</p>
            <h2><a href="">TV time</a></h2>
            <p>Watching the Paws Show! My fav.....</p>
        </div>
    </body>
</html>
